name: Waka Readme
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"   # 每天 UTC 00:00
  # run on every push on the master branch
  push:
    branches:
    - main
    
jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          BLOCKS: ⣀⣄⣤⣦⣶⣷⣿
          SHOW_TOTAL: true
          IGNORED_LANGUAGES: YAML JSON TOML
          TIME_RANGE: last_year